.main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}

.text {
    background-color: rgba(76, 76, 76, 0.373);
    padding: 1px;
    border-radius: 2%;
}

.sport-arenas-img {
    width: 100%;
    margin: 50px 0;
}