a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color:#FFFFFF;
}
.header{
    background-color: #000000;
    padding: 10px 0 15px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 17px;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px; 
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    margin: 15px;
}
.menu-item{
    padding-right: 15px;
}
.login{
    margin: 15px;
}
.img-container {
    position: relative;
    display: inline-block;
    max-width: 1200px;
    margin: 0 auto;
}
.overlay {
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 50px; 
    border-radius: 40px; 
}
.text-container {
    color: white; 
    font-size: 22px;
}
.title{
    font-size: 55px;
}
.overlay-btn1 {
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 10px; 
    margin: 100px 100px 50px -50px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.overlay-btn2 {
    position: absolute;
    top: 150px;
    left: 100px;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 10px;
    margin: 100px 100px 50px 120px;
    border-radius: 15px;
    text-align: center;
}
.headline-btn1{
    color: #000000;
}  
.text-about-kazan{
    line-height: 1.5;
}
.information{
    background-color: #011208;
}

.menu-link-here{
    color: #FFFBA0;
}

