a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #FFFFFF;
    background-color:#000000;
}
.header{
    background-color: #000000;
    padding: 10px 0 15px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 17px;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px; 
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    margin: 15px;
}
.menu-item{
    padding-right: 15px;
}
.login{
    margin: 15px;
}
.img-container {
    position: relative;
    display: inline-block;
    max-width: 1200px;
    margin: 0 auto;
}
.overlay {
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 50px; 
    border-radius: 40px; 
}
.text-container {
    color: white; 
    font-size: 22px;
}
.title{
    font-size: 55px;
}
.overlay-btn1 {
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 10px; 
    margin: 100px 100px 50px -50px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.overlay-btn2 {
    position: absolute;
    top: 150px;
    left: 100px;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 10px;
    margin: 100px 100px 50px 120px;
    border-radius: 15px;
    text-align: center;
}
.headline-btn1{
    color: #000000;
}  
.text-about-kazan{
    line-height: 1.5;
}
.information{
    background-color: #011208;
}



main {
    position: absolute;
    left: 140px;
}
.headline {
    position: relative;
    color: #FFFFFF;
    font-size: 38;
    top: 104px;
    left: 80px;
}

.interesting-logo {
    position: absolute;
    top: 104px;
}

.main-text {
    position: relative;
    top: 133px;
    font-size: 22;
}

.activity-type1 {
    position: relative;
    top: 162px;
}

.activity-type2{
    position: relative;
    top: 1004px;
}

.activity-type3{
    position: relative;
    top: 1627px;
}
.activity-type4{
    position: relative;
    top: 2237px;
}
.activity-name {
    font-size: 35;
    position: relative;
    left: 15px;
}
.place1, .place2, .place3 {
    position: relative;
    top: 30px;
    height: 500px;
    width: 328px;
    background-color: #D9D9D9;
    border-radius: 30px;
}

.place1{
    position: absolute;
    left: 16px;
}
.place2{
    position: absolute;
    left: 408px;
}
.place3{
    position: absolute;
    left: 800px;
}

.place-img {
    position: inherit;
    left: 13px;
    top: 12px;
    border-radius: 30px;
    height: 220px;
    width: 302px;
}

.place-text {
    position: inherit;
    left: 13px;
    top: 223px;
    font-size: 9;
    width: 302;
    height: 84;
    color: #000000;
}
.sightseeings { 
    color: #000000;
    position: absolute;
    top: 364px;
    left: 142px;
}
